body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#qr-code-container {
  margin: 0 auto;
}